@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

h1{
  font-family: "Libertinus Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.gtranslate_wrapper select {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 4px;
}